*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #232323;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

canvas {
	margin: auto;
	border-left: 1px solid #444;
	border-right: 1px solid #444;
}
